
<div ng-include="'comps/common/topbar.html'">

</div>

<div class="modal fade" id="modalConfirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmacion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-body">

        <div class="container">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h3><p class="text-center">Desea eliminar el registro?</p></h3>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-danger" ng-click="delUser()" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>



<div id="wrapper" class="toggled">
  <my-sidebar></my-sidebar>
  <div id="page-content-wrapper" class="container-fluid">


        <div class="col-md-12 col-sm-12">
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a class="text-success" >servidor.com</a></li>
              <li class="breadcrumb-item"><a class="text-info" href="#!/home">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Perfil</li>
            </ol>
          </nav>



    <div class="col-md-12 mt-10 mb-10">
      <div class="card " >
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <button class="btn btn-primary" style="font-weight: bold;margin-bottom: 1rem;" data-toggle="modal" ng-click="createUser()" data-target="#addUserModal"> <i class="fas fa-pencil"></i> CREAR USUARIO <i class="fas fa-1x fa-user"></i></button>

              <div class="row">
                <div class="col-md-12">

                  <div class="modal-body">
                  <form>


                    <label>Tipo de usuario</label>
                    <!--<input type="text" ng-model="user_view.role" class="form-control" placeholder="Tipo de usuario">-->

                    <select class="form-control form-control-sm" ng-disabled="!(typeview == 'add' || typeview == 'edit')" ng-model="user.role">

                      <option ng-repeat="type in type_user" value="{{type.type}}">
                        {{type.text | uppercase}}
                      </option>
                      <option value="" disabled selected>Selecciona un tipo de usuario</option>
                    </select>

                      <div class="form-group">
                        <label>Nombre:</label><br>
                        <input type="text" ng-model="user.name" class="form-control" ng-if="typeview == 'add' || typeview == 'edit'" placeholder="Nombre">
                        <span ng-if="typeview == 'view'" >{{user.name}}</span>
                      </div>

                      <div class="form-group">
                        <label>Username:</label><br>
                        <span ng-if="typeview == 'view'"  >{{user.username}}</span>
                        <input type="text" ng-model="user.username"  ng-keyup="availableUser()" ng-if="typeview == 'add'" class="form-control" placeholder="Username">
                        <div class="invalid-feedback">
                          Este usuario ya existe
                        </div>
                      </div>

                      <div ng-if="typeview == 'view'" class="">

                        <div class="form-group">
                          <label>Password:</label><br>
                          <input type="text" ng-model="user.password"   ng-if="typeview == 'add'" class="form-control" placeholder="password">
                          <div class="invalid-feedback">
                            Este usuario ya existe
                          </div>
                        </div>

                        <div class="form-group">
                          <label>confirmar password:</label><br>
                          <input type="text" ng-model="user.password"  ng-keyup="availableUser()" ng-if="typeview == 'add'" class="form-control" placeholder="Username">
                          <div class="invalid-feedback">
                            El password no coincide
                          </div>
                        </div>
                        
                      </div>


                      <label>Estatus</label>
                      <!--<input type="text" ng-model="user_view.role" class="form-control" placeholder="Tipo de usuario">-->
                      <select class="form-control form-control-sm" ng-disabled="!(typeview == 'add' || typeview == 'edit')"  ng-model="user.estatus">

                        <option ng-repeat="type in estatus_user" value="{{type.id}}">
                          {{type.text | uppercase}}
                        </option>
                        <option value="" disabled selected>Selecciona el estatus</option>
                      </select>


                    </form>
                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>
        </div>
    </div>



      </div>

  </div>
</div>
<my-footer></my-footer>
