<div ng-include="'comps/common/topbar.html'">

</div>

<div class="modal fade" id="modalFactura">
    <div class="modal-dialog  mw-100 modal-90">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Detalle De Factura</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  >&times;</button>

        </div>
        <div class="modal-body">

          <div class="modal-body-he">
            <button id="btnProductInfo" style="display:none" data-toggle="modal" data-target="#modalInfoProduct"></button>
            <div class="container">

              <div class="col-sm-12 col-md-12 col-lg-12">


                <div >

                  <table datatable="ng" dt-options="dtOptionsFact"  class="table table-striped table-bordered" >
                    <thead>
                        <tr>
                        <th scope="col"><p class="text-center">#</p></th>
                        <th scope="col"><p class="text-center">Nombre articulo</p></th>
                        <th scope="col"><p class="text-center">Unidades pedido</p></th>
                        <th scope="col"><p class="text-center">Unidades facturadas</p></th>
                        <!-- <th scope="col"><p class="text-center">Nombre Vendedor</p></th>
                        <th scope="col"><p class="text-center">Email Vendedor</p></th> -->
                        <th scope="col"><p class="text-center">Fecha factura</p></th>
                        <th scope="col"><p class="text-center">Fecha pedido</p></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="x in factura"  >

                            <td><p class="text-center">{{ $index + 1 }}</p></td>
                            <td><p class="text-center">{{ x.nombre_arti }}</p></td>
                            <td><p class="text-center">{{ x.unidades_pedido }}</p></td>
                            <td><p class="text-center">{{ x.unidades_facturadas }}</p></td>
                            <!-- <td><p class="text-right">{{  x.nombre_vendedor }}</p></td>
                            <td><p class="text-right">{{  x.email_vendedor }}</p></td> -->
                            <td><p class="text-right">{{  x.fecha_factura }}</p></td>
                            <td><p class="text-right">{{  x.fecha_pedido }}</p></td>
                        </tr>


                    </tbody>
                    </table>
                </div>


            </div>

            </div>
          </div>


        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-error" data-dismiss="modal" ng-click="closeModalProducts()" >Cerrar</button>

        </div>
      </div>
    </div>
  </div>

<div id="wrapper" class="">
  <my-sidebar></my-sidebar>
  <div id="page-content-wrapper" class="container-fluid">


    <div class="col-md-12 col-sm-12">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a class="text-success" >servidor.com</a></li>
          <li class="breadcrumb-item"><a class="text-info" href="#!/home">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Pedidos facturados</li>
        </ol>
      </nav>
<header-client></header-client>

<div ng-show="!hasUserClient">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label for="clientes">Busqueda por cliente</label>
      <div class="input-group mb-3">
        <input type="text" id="clientes" class="form-control" ng-model="nombre_cliente" placeholder="Busqueda por Cliente" aria-label="Busqueda por Cliente" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary"  ng-click="getClientNew(true)" type="button">Buscar</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6" ng-show="clientes.length > 0" >
      <div class="form-group">
        <label for="exampleFormControlSelect1">Seleccione</label>
        <select class="form-control" ng-model="clientIndex" id="exampleFormControlSelect1" ng-change="selectCLient()">
          <option ng-repeat="x in clientes" value="{{$index}}">{{x.nombre_cliente}}</option>
          <option value="" disabled selected>Seleccione un cliente</option>
        </select>
      </div>
    </div>


  </div>
</div>

      <div class="row">
        <div class="col-md-12 mt-10 mb-10">
          <div class="card " >
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <!-- <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered">
                  </table> -->
                  <button id="btnfacturaInfo" style="display:none" data-toggle="modal" data-target="#modalFactura"></button>

                  <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered" >
                    <thead>
                      <tr>
                        <th scope="col"><p class="text-center">#</p></th>
                        <th scope="col"><p class="text-center">N° Pedido</p></th>
                        <th scope="col"><p class="text-center">Fecha pedido</p></th>
                        <th scope="col"><p class="text-center">N° factura</p></th>
                        <th scope="col"><p class="text-center">Fecha factura</p></th>
                        <th scope="col"><p class="text-center">Monto</p></th>
                        <th scope="col"><p class="text-center">Monto usd</p></th>
                        <th scope="col"><p class="text-center">Tipo pedido</p></th>
                        <th scope="col"><p class="text-center">Nombre vendedor</p></th>
                        <!-- <th scope="col"><p class="text-center">Email vendedor</p></th> -->
                        <th scope="col"><p class="text-center">Opciones</p></th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr  ng-repeat="fact in facturas"  ng-click="selectFactura(facturasList[fact])" ng-class="{ selectedRow : $index == productIndex }" >
                        <td><p class="text-center">{{ $index + 1 }}</p></td>
                        <td><p class="text-center">{{ fact }}</p></td>
                        <td><p class="text-center">{{ facturasList[fact][0].fecha_pedido }}</p></td>
                        <td><p class="text-center">{{ facturasList[fact][0].nro_factura }}</p></td>
                        <td><p class="text-center">{{ facturasList[fact][0].fecha_factura }}</p></td>
                        <td><p class="text-center">{{ facturasList[fact][0].total_producto }}</p></td>
                        <td><p class="text-center">{{ facturasList[fact][0].total_producto_usd }}</p></td>
                        <td><p class="text-center">{{ facturasList[fact][0].tipo_pedido }}</p></td>
                        <td><p class="text-center">{{ facturasList[fact][0].nombre_vendedor }}</p></td>
                        <!-- <td><p class="text-center">{{  facturasList[fact][0].email_vendedor }}</p></td> -->
                        <td>
                          <i class="fa fa-eye" style="cursor: pointer;"   ng-click="selectFactura(facturasList[fact])"  data-toggle="modal" data-target="#modalFactura"  ></i>
                        </td>
                      </tr>


                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            </div>
        </div>


      </div>

    </div>


  </div>
</div>

<my-footer></my-footer>
