<div ng-include="'comps/common/topbar.html'">

</div>

<div class="modal fade" id="addPedidoModal" tabindex="-1" role="dialog" aria-labelledby="addPedidoModalLabel" aria-hidden="true">
  <div class="modal-dialog  mw-100 modal-90" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #399CDF;color: white; font-weight: bold;">
        <h5 class="modal-title" id="addPedidoModalLabel">CREAR PEDIDO <i class="fas fa-1x fa-list-alt"></i></h5>

        <button type="button" class="close" data-dismiss="modal" ng-click="reset();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-header" ng-show="counter > 0" >

          <span class="float-right"> <strong>tiempo:</strong> {{msToTime(counter)}}</span>
      </div>
      <div class="modal-body">

          <!-- <div class="alert alert-danger"  ng-show="!clienteValido && !hasUserClient" role="alert">
            Advertencia:
            <strong>{{clientInvalidoMsg}}</strong>
          </div> -->

          <div class="alert alert-info alert-dismissible fade show" ng-show="counter >= 1" role="alert">
            <strong>Informacion!</strong> Dispone de 15 minutos de inactividad
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-warning alert-dismissible fade show" ng-show="counter > 600000 && counter < timeLimit" role="alert">
            <strong>Advertencia!</strong> Dispone de menos de 5 minutos de inactividad
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-danger alert-dismissible fade show" ng-show="counter >= timeLimit" role="alert">
            <strong>INFO!</strong> Su tiempo para elaborar el pedido se a agotado
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
              <a class="nav-link " ng-class="{ active : tabsIndex == 0 }" ng-click="goToTab(0)" >Informacion Cliente <span class="badge badge-secondary">1</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-class="{ active : tabsIndex == 1, disabled: !clienteValido  }" ng-disabled=" !clienteValido" ng-click="goToTab(1)" >Detalle de pedido <span class="badge badge-secondary">2</span></a>
            </li>
        </ul>


        <div class="modal-body-he">

          <form class="row col-sm-12 col-md-12 col-lg-12" >

            <div class="col-sm-12 col-md-12 col-lg-12" ng-show="tabsIndex == 0" >
              <!-- INFO CLIENTE -->
              <header-client></header-client>
              <!--  END INFO CLIENTE -->
              <div ng-show="!hasUserClient">

                <div ng-if="clientIndex != null">
                  <header-client cliente="client" ></header-client>
                </div>

              </div>

            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6" style="display: none;">
                <div class="form-group">
                  <label>Factura</label>
                  <input type="text" ng-model="pedido.no_factu" class="form-control" placeholder="no_factura">
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <label>Fecha</label>
                  <input type="date" ng-disabled="true" ng-model="pedido.fecha" class="form-control" placeholder="fecha">
                </div>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-8">


                <div class="form-group">
                  <label for="comment">Observacion del pedido</label>
                  <textarea class="form-control" ng-model="pedido.observacion" rows="2" id="comment"></textarea>
                </div>
              </div>


            </div>


            </div>

            <div class="col-sm-12 col-md-12 col-lg-12" ng-show="tabsIndex == 1" >


              <div class="row mt-3 mb-5" >



                <div class="col-3">
                  <label>Monto minimo pedido</label><br>
                  <span >{{formato(2,client.monto_minimo)? formato(2, client.monto_minimo):0}}</span>

                </div>
                <div class="col-3">
                  <label>Monto minimo pick - up</label><br>
                  <span >{{formato(2,client.monto_min_pick)? formato(2, client.monto_min_pick):0}}</span>

                </div>

                <div class="col-3">
                  <label>Credito disponible Bs.S</label><br>
                  <span >{{formato(2,(creditoClient.disp_bs_format)? (creditoClient.disp_bs_format - totales.bsConIva):0)}}</span>

                </div>

                <div class="col-3">
                  <label>Credito disponible USD</label><br>
                  <span >{{formato(3,(creditoClient.disp_usd_format)? (creditoClient.disp_usd_format - totales.UsdConIva):0)}}</span>

                </div>



                <div class="col-6">
                  <label></label>
                  <button type="button" class="btn btn-info" ng-click="addPedidoV2()" ng-show="ID == null"  >Abrir Pedido</button>
                  <button type="button" class="btn btn-success"  ng-show="ID != null &&  counter < 600000" ng-click="openModalProducts()" >Agregar Productos</button>
                </div>

                <div class="col-6">
                  <label></label>
                  <button type="button"  class="btn btn-success" ng-click="openModalDyn(0,ID)" ng-show="ID != null" ng-disabled="pedido.pedido.length < 1 || !clienteValido" >Finalizar pedido</button>
                </div>
              </div>



              <div class="form-group" >
                <table class="table table-striped table-bordered"  datatable="ng" dt-options="dtOptionsDetalil">
                    <thead>
                        <tr>
                        <!-- <th scope="col"><p class="text-center">#</p></th> -->
                        <!-- <th scope="col"><p class="text-center">Codigo de Articulo</p></th> -->
                        <th scope="col"><p class="text-center">Nombre Articulo</p></th>
                        <th scope="col"><p class="text-center">Cantidad</p></th>
                        <th scope="col"><p class="text-center">Precio por unidad</p></th>
                        <th scope="col"><p class="text-center">Total</p></th>
                        <th scope="col"><p class="text-center">Precio USD</p></th>
                        <th scope="col"><p class="text-center">Total USD</p></th>
                        <th scope="col"><p class="text-center">Fecha Vencimiento</p></th>
                        <!-- <th scope="col"><p class="text-center">Estatus</p></th> -->
                        <th scope="col"><p class="text-center">Opcion</p></th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="x in pedido.pedido" ng-class="{ incideRow : x.alert }" >
                            <td><p class="text-center">{{ x.nombre_producto }}</p></td>
                            <td>
                              <p class="text-center">{{ x.CANTIDAD }}</p>
                            </td>
                            <td><p class="text-right">{{ formato(2,x.precio_neto_bs) }}</p></td>
                            <td><p class="text-right">{{ formato(2,(x.precio_neto_bs * x.CANTIDAD)) }}</p></td>
                            <td><p class="text-right">{{ formato(3,x.precio_neto_usd) }}</p></td>
                            <td><p class="text-right">{{ formato(3,(x.precio_neto_usd * x.CANTIDAD)) }}</p></td>
                            <td><p class="text-right">{{ x.fecha_vence}}</p></td>
                            <!-- <td><p class="text-right"><i ng-show="!x.alert" class="fas fa-1x fa-check"></i><i ng-show="x.alert"  class="fas fa-1x fa-times"></i>  </p></td> -->
                            <td >

                              <button type="button" class="btn btn-danger" ng-click="openModalDyn(3,$index);" ><i class="fa fa-trash" style="cursor: pointer;" ></i></button>
                              <button type="button" class="btn btn-success" ng-click="editRow(x, $index);" ><i class="fa fa-edit" style="cursor: pointer;" ></i></button>
                            </td>
                          </tr>
                    </tbody>
                    </table>


              </div>

              <div class="row">
                <div class="col-lg-2 col-sm-5">
                  </div>
                    <div class="col-lg-6 col-sm-6 ml-auto">
                        <table class="table table-clear">
                            <tbody>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Total (no incluye iva)</strong>
                                    </td>
                                    <td class="right">{{formato(2,totales.bolivares)}}</td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Total (con iva)</strong>
                                    </td>
                                    <td class="right">{{formato(2,totales.bsConIva)}}</td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Total USD (no incluye iva)</strong>
                                    </td>
                                    <td class="right">{{formato(3,totales.USD)}}</td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Total USD (con iva)</strong> </td>
                                    <td class="right">
                                        <strong class="text-dark">{{formato(3,totales.UsdConIva)}}</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

          </form>

        </div>
      </div>
      <div class="modal-footer" style="display: block;margin: 0 auto;">
        <button type="button" class="btn btn-error" data-dismiss="modal" ng-show="ID == null" ng-click="reset();">Regresar</button>
        <button type="button"  class="btn btn-success" ng-click="openModalDyn(0,ID)" ng-show="ID != null" ng-disabled="pedido.pedido.length < 1 || !clienteValido" >Finalizar pedido</button>


      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="showPedidoModal" tabindex="-1" role="dialog" aria-labelledby="showPedidoModalLabel" aria-hidden="true">
  <div class="modal-dialog  mw-100 modal-90" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #399CDF;color: white; font-weight: bold;">
        <h5 class="modal-title" id="addPedidoModalLabel">VER PEDIDO <i class="fas fa-1x fa-list-alt"></i></h5>
        <button type="button" class="close" data-dismiss="modal" ng-click="reset();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reset();">Regresar</button> -->
      </div>
      <div class="modal-body">
        <div class="card-header">
          Fecha:
          <strong>{{pedido.fecha}}</strong>
          <span class="float-right ml-3" ng-show="editView" > <strong>tiempo:</strong> {{msToTime(counter)}}</span>
          <span class="float-right"> <strong>Estatus:</strong> {{pedido.estatus}}</span>
          </div>

          <div class="alert alert-info alert-dismissible fade show" ng-show="counter >= 1" role="alert">
            <strong>Informacion!</strong> Dispone de 15 minutos de inactividad
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-warning alert-dismissible fade show" ng-show="counter > 600000 && counter < timeLimit" role="alert">
            <strong>Advertencia!</strong> Dispone de menos de 5 minutos de inactividad
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-danger alert-dismissible fade show" ng-show="counter >= timeLimit" role="alert">
            <strong>INFO!</strong> Su tiempo para elaborar el pedido se a agotado
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
              <a class="nav-link " ng-class="{ active : tabsIndex == 0 }" ng-click="goToTab(0)" >Informacion Cliente <span class="badge badge-secondary">1</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-class="{ active : tabsIndex == 1 }" ng-disabled="!showProductTable || !clienteValido" ng-click="goToTab(1)" >Detalle de pedido <span class="badge badge-secondary">2</span></a>
            </li>
            <li class="nav-item" ng-show="pedido.errores.length > 0">
              <a class="nav-link" ng-class="{ active : tabsIndex == 2 }" ng-disabled="!showProductTable || !clienteValido" ng-click="goToTab(2)" >Errores<span class="badge badge-danger">3</span></a>
            </li>
        </ul>

        <div class="modal-body-he">


          <form class="col-sm-12 col-md-12 col-lg-12">

          <div class="col-sm-12 col-md-12 col-lg-12" ng-show="tabsIndex == 0"  >
            <header-client></header-client>
            <div ng-show="!hasUserClient">

              <div ng-if="clientIndex != null">
                <header-client cliente="client" ></header-client>
              </div>



            </div>

            <div class="row">
              <div  style="display: none;">
                <div class="form-group">
                  <label>Factura</label>
                  <input type="text" ng-model="pedido.no_factu" class="form-control" placeholder="no_factura">
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4" style="display: none;">
                <div class="form-group">
                  <label>Fecha</label>
                  <input type="date" ng-disabled="true" ng-model="pedido.fecha" class="form-control" placeholder="fecha">
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12">


                <div class="form-group">
                  <label for="comment">Observacion del pedido</label>
                  <textarea class="form-control" ng-disabled="!editView" ng-model="pedido.observacion" rows="2" id="comment"></textarea>
                </div>
              </div>
            </div>


          <!-- </div> -->

          </div>

          <div class="col-sm-12 col-md-12 col-lg-12"  style="margin-top: 32px;" ng-show="tabsIndex == 1"  >

              <div class="row mt-5 mb-5" ng-show="editView" >

                <div class="col-2">
                  <label>Monto minimo pedido Bs.S</label><br>
                  <span >{{formato(2,client.monto_minimo)? formato(2, client.monto_minimo):0}}</span>

                </div>

                <div class="col-3">
                  <label>Monto minimo pick-Up</label><br>
                  <span >{{formato(2,client.monto_min_pick)? formato(2, client.monto_min_pick):0}}</span>

                </div>

                <div class="col-2">
                  <label>Credito disponible Bs.S</label><br>
                  <span >{{formato(2,(creditoClient.disp_bs_format)? (creditoClient.disp_bs_format - totales.bsConIva):0)}}</span>

                </div>

                <div class="col-2">
                  <label>Credito disponible USD</label><br>
                  <span >{{formato(3,(creditoClient.disp_usd_format)? (creditoClient.disp_usd_format - totales.UsdConIva):0)}}</span>

                </div>

                <div class="col-3">
                  <label></label>
                  <button type="button" ng-show="editView" class="btn btn-info" ng-click="openModalProducts()">Agregar Productos</button>
                </div>

                <div class="col-3">
                  <label></label>
                  <button type="button"  class="btn btn-success" ng-show="editView && pedido.estatus_id < 2"  ng-disabled="pedido.pedido.length < 1 || !clienteValido"  ng-click="openModalDyn(0,ID)" >Finalizar pedido</button>
                </div>



              </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">

                  <table class="table table-striped table-bordered"  datatable="ng" dt-options="dtOptionsDetalil">
                      <thead>
                          <tr>
                          <!-- <th scope="col"><p class="text-center">#</p></th> -->
                          <!-- <th scope="col"><p class="text-center">Codigo de Articulo</p></th> -->
                          <th scope="col"><p class="text-center">Nombre Articulo</p></th>
                          <th scope="col"><p class="text-center">Cantidad</p></th>
                          <th scope="col"><p class="text-center">Precio por unidad</p></th>
                          <th scope="col"><p class="text-center">Total</p></th>
                          <th scope="col"><p class="text-center">Precio USD</p></th>
                          <th scope="col"><p class="text-center">Total USD</p></th>
                          <th scope="col"><p class="text-center">Fecha vencimiento</p></th>
                          <th scope="col"><p class="text-center">Opcion</p></th>

                          </tr>
                      </thead>
                      <tbody>

                          <tr ng-repeat="x in pedido.pedido" ng-class="{ incideRow : x.alert }" >
                              <!-- <th scope="row">{{ $index + 1 }}</th> -->
                              <!-- <td><p class="text-center">{{ x.COD_PRODUCTO }}</p></td> -->
                              <td><p class="text-center">{{ x.nombre_producto }}</p></td>
                              <td><p class="text-center">{{ x.CANTIDAD }}</p></td>
                              <td><p class="text-right">{{ formato(2,x.precio_neto_bs) }}</p></td>
                              <td><p class="text-right">{{ formato(2,(x.precio_neto_bs * x.CANTIDAD)) }}</p></td>
                              <td><p class="text-right">{{ formato(3,x.precio_neto_usd) }}</p></td>
                              <td><p class="text-right">{{ formato(3,(x.precio_neto_usd * x.CANTIDAD)) }}</p></td>
                              <td><p class="text-center">{{ x.fecha_vence }}</p></td>
                              <!-- <td><p class="text-right"><i ng-show="!x.alert" class="fas fa-1x fa-check"></i><i ng-show="x.alert"  class="fas fa-1x fa-times"></i>  </p></td> -->
                              <td >

                                <button type="button" class="btn btn-danger" ng-disabled="!editView" ng-show="editView"  ng-click="openModalDyn(3,$index);" ><i class="fa fa-trash" style="cursor: pointer;" ></i></button>
                                <button type="button" class="btn btn-success" ng-disabled="!editView" ng-show="editView" ng-click="editRow(x, $index);" ><i class="fa fa-edit" style="cursor: pointer;" ></i></button>
                              </td>
                            </tr>
                      </tbody>
                      </table>
            </div>
            <div class="row" ng-if="1==2" >
              <div class="col-lg-2 col-sm-5">
                </div>
                  <div class="col-lg-6 col-sm-6 ml-auto">
                      <table class="table table-clear">
                          <tbody>
                              <tr>
                                  <td class="left">
                                      <strong class="text-dark">Total (no incluye iva)</strong>
                                  </td>
                                  <td class="right">{{formato(2,totales.bolivares)}}</td>
                              </tr>
                              <tr>
                                  <td class="left">
                                      <strong class="text-dark">Total (con iva)</strong>
                                  </td>
                                  <td class="right">{{formato(2,totales.bsConIva)}}</td>
                              </tr>
                              <tr>
                                  <td class="left">
                                      <strong class="text-dark">Total USD (no incluye iva)</strong>
                                  </td>
                                  <td class="right">{{formato(3,totales.USD)}}</td>
                              </tr>
                              <tr>
                                  <td class="left">
                                      <strong class="text-dark">Total USD (con iva)</strong> </td>
                                  <td class="right">
                                      <strong class="text-dark">{{formato(3,totales.UsdConIva)}}</strong>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-sm-5">
                  </div>
                    <div class="col-lg-6 col-sm-6 ml-auto">
                        <table class="table table-clear">
                            <tbody>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Total bruto</strong>
                                    </td>
                                    <td class="right">{{formato(2,totalesDdo.total_bruto)}} </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Desc. Volumen</strong>
                                    </td>
                                    <td class="right">{{formato(2,totalesDdo.desc_volumen)}} </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Otros descuentos</strong>
                                    </td>
                                    <td class="right">{{formato(2,totalesDdo.otros_descuentos)}} </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Desc. Adicional</strong> </td>

                                        <td class="right">{{formato(2,totalesDdo.desc_adicional)}} </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Desc. dpp</strong> </td>

                                        <td class="right">{{formato(2,totalesDdo.desc_dpp)}} </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Sub - Total</strong> </td>

                                        <td class="right">{{formato(2,totalesDdo.sub_total)}} </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Impuesto</strong> </td>

                                        <td class="right">{{formato(2,totalesDdo.impuesto)}} </td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Total</strong> </td>

                                        <td class="right">{{formato(2,totalesDdo.total)}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



          </div>

          <div class="col-sm-12 col-md-12 col-lg-12" ng-show="tabsIndex == 2"  >

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">

                  <table class="table">
                      <thead>
                          <tr>
                          <!-- <th scope="col"><p class="text-center">#</p></th> -->
                          <th scope="col"><p class="text-center">Codigo de Articulo</p></th>
                          <th scope="col"><p class="text-center">Descripcion</p></th>
                          <th scope="col"><p class="text-center">Fecha</p></th>


                          </tr>
                      </thead>
                      <tbody>

                          <tr ng-repeat="x in pedido.errores" ng-class="{ incideRow : x.alert }" >
                              <!-- <th scope="row">{{ $index + 1 }}</th> -->
                              <td><p class="text-center">{{ x.COD_PRODUCTO }}</p></td>
                              <td><p class="text-center">{{ x.DESCRIPCION }}</p></td>
                              <td><p class="text-center">{{ x.FECHA }}</p></td>

                            </tr>
                      </tbody>
                      </table>
            </div>

          </div>



          </form>

        </div>
      </div>
      <div class="modal-footer" style="display: block;margin: 0 auto;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reset();">Regresar</button>
        <button type="button"  class="btn btn-primary" ng-show="!editView && pedido.estatus_id < 3 "   ng-disabled="!clienteValido"  ng-click="editPedido();">Editar</button>
        <button type="button"  class="btn btn-success" ng-show="editView && pedido.estatus_id < 2"  ng-disabled="pedido.pedido.length < 1 || !clienteValido"  ng-click="openModalDyn(0,ID)" >Finalizar pedido</button>

        <!-- <button type="button"  class="btn btn-success" ng-disabled="pedido.pedido.length < 1" ng-show="editView" ng-click="updPedido();">Actualizar pedido</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalproduct">
  <div class="modal-dialog mw-100 modal-90">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Productos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModalProducts()" >&times;</button>

      </div>
      <div class="modal-body">

        <div id="card__infoicon">

          <div class="alert alert-info alert-dismissible fade show" ng-show="infoPsico" role="alert">
            <div>
                <p style='font-style: normal; font-weight: 400; text-align: start; text-indent: 0px;  margin: 0cm 0cm 0.0001pt 8px; font-size: 16px; font-family: "Times New Roman", serif; color: rgb(34, 34, 34);'><span style=" rgb(209, 236, 241);"><span style="color: rgb(0, 0, 0);"><span style="font-size: 13px; font-family: Symbol;">&middot;<span style='font-size:9px;line-height: normal;font-family: "Times New Roman";'>&nbsp; &nbsp; &nbsp; &nbsp;</span></span><strong><span style="font-size: 13px; font-family: Arial, sans-serif;">Enviar al siguiente correo <a href="mailto:regencia@del-oeste.com" style="color: rgb(17, 85, 204);" target="_blank">regencia@del-oeste.com</a>. :</span></strong></span></span></p>
                <p style='font-style: normal; font-weight: 400; text-align: start; text-indent: 0px;  margin: 0cm 0cm 0.0001pt 8px; font-size: 16px; font-family: "Times New Roman", serif; color: rgb(34, 34, 34);'><span style=" rgb(209, 236, 241);"><span style="color: rgb(0, 0, 0);"><span style="font-size: 13px; font-family: Symbol;">&middot;<span style='font-size:9px;line-height: normal;font-family: "Times New Roman";'>&nbsp; &nbsp; &nbsp; &nbsp;</span></span><strong><span style="font-size: 13px; font-family: Arial, sans-serif;">C&eacute;dula de identidad del regente.</span></strong></span></span></p>
                <p style='font-style: normal; font-weight: 400; text-align: start; text-indent: 0px;  margin: 0cm 0cm 0.0001pt 8px; font-size: 16px; font-family: "Times New Roman", serif; color: rgb(34, 34, 34);'><span style=" rgb(209, 236, 241);"><span style="color: rgb(0, 0, 0);"><span style="font-size: 13px; font-family: Symbol;">&middot;<span style='font-size:9px;line-height: normal;font-family: "Times New Roman";'>&nbsp; &nbsp; &nbsp; &nbsp;</span></span><strong><span style="font-size: 13px; font-family: Arial, sans-serif;">T&iacute;tulo del Farmac&eacute;utico.</span></strong></span></span></p>
                <p style='font-style: normal; font-weight: 400; text-align: start; text-indent: 0px;  margin: 0cm 0cm 0.0001pt 8px; font-size: 16px; font-family: "Times New Roman", serif; color: rgb(34, 34, 34);'><span style=" rgb(209, 236, 241);"><span style="color: rgb(0, 0, 0);"><span style="font-size: 13px; font-family: Symbol;">&middot;<span style='font-size:9px;line-height: normal;font-family: "Times New Roman";'>&nbsp; &nbsp; &nbsp; &nbsp;</span></span><strong><span style="font-size: 13px; font-family: Arial, sans-serif;">Permiso de Funcionamientos actualizado.</span></strong></span></span></p>
                <p style='font-style: normal; font-weight: 400; text-align: start; text-indent: 0px;  margin: 0cm 0cm 0.0001pt 8px; font-size: 16px; font-family: "Times New Roman", serif; color: rgb(34, 34, 34);'><span style=" rgb(209, 236, 241);"><span style="color: rgb(0, 0, 0);"><span style="font-size: 13px; font-family: Symbol;">&middot;<span style='font-size:9px;line-height: normal;font-family: "Times New Roman";'>&nbsp; &nbsp; &nbsp; &nbsp;</span></span><strong><span style="font-size: 13px; font-family: Arial, sans-serif;">&Uacute;ltima Relaci&oacute;n de psicotr&oacute;picos firmada y sellada, si es enviada por correo, copia de env&iacute;o y acuse de haber sido recibida &nbsp;por parte de la Contralor&iacute;a Sanitaria.</span></strong></span></span></p>
                <p style='font-style: normal; font-weight: 400; text-align: start; text-indent: 0px;  margin: 0cm 0cm 0.0001pt 8px; font-size: 16px; font-family: "Times New Roman", serif; color: rgb(34, 34, 34);'><span style=" rgb(209, 236, 241);"><span style="color: rgb(0, 0, 0);"><span style="font-size: 13px; font-family: Symbol;">&middot;<span style='font-size:9px;line-height: normal;font-family: "Times New Roman";'>&nbsp; &nbsp; &nbsp; &nbsp;</span></span><strong><span style="font-size: 13px; font-family: Arial, sans-serif;"><a target="_self" href="/ddo/app/assets/planilla.doc" download="planilla.doc">Planilla de solicitud </a> de productos psicotr&oacute;picos firmada por el regente y sellada por la farmacia, con fecha actual, es exigido por Sanidad (ver anexo).</span></strong></span></span></p>
                <p style='font-style: normal; font-weight: 400; text-align: start; text-indent: 0px;  margin: 0cm 0cm 0.0001pt 8px; font-size: 16px; font-family: "Times New Roman", serif; color: rgb(34, 34, 34);'><span style=" rgb(209, 236, 241);"><span style="color: rgb(0, 0, 0);"><span style="font-size: 13px; font-family: Symbol;">&middot;<span style='font-size:9px;line-height: normal;font-family: "Times New Roman";'>&nbsp; &nbsp; &nbsp; &nbsp;</span></span></span></span><strong><span style="font-size: 13px; font-family: Arial, sans-serif; color: rgb(0, 0, 0);  rgb(209, 236, 241);">Todos los documentos deben ser enviados en un mismo correo</span></strong></p>
            </div>
            <button type="button" class="close"  ng-click="infoPsico = false" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="modal-body-he">
          <button id="btnProductInfo" style="display:none" data-toggle="modal" data-target="#modalInfoProduct"></button>
          <div class="">

            <div class="col-sm-12 col-md-12 col-lg-12">
              <button class="btn btn-primary" style="float: right; font-weight: bold;margin-bottom: 1rem;" ng-click="infoPsico = true;" ng-show="!infoPsico"  > <i class="fa fa-info"></i> Requisitos para Psicotropicos</button>

              <label for="clientes">Busqueda por producto</label>
              <div class="input-group mb-3 ">
                <input type="text" class="form-control"
                ng-model="busqueda_prod"
                ng-keydown="$event.keyCode === 13 && getProdNew(true)"
                placeholder="Busqueda por Producto"
                aria-label="Busqueda por Producto"
                aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary"   ng-click="getProdNew(true)" type="button">Buscar</button>
                </div>
              </div>

              <label for="proveedor">Filtrar por proveedor</label>
              <div class="input-group mb-3 ">
                <div class="form-group">
                  <!-- <label for="exampleFormControlSelect1">Seleccione</label> -->
                  <select class="form-control" ng-model="proveedor.cod_proveedor" id="proveedor" >
                    <option value="null" >Todos</option>
                    <option ng-repeat="x in listProveedores" value="{{x.cod_proveedor}}">{{x.nombre_proveedor}}</option>
                    <option value="" disabled selected>Seleccione un proveedor</option>
                  </select>
                </div>
              </div>

              <label for="filtro">Filtrar por categoria</label>
              <div class="input-group mb-3 ">
                <div class="form-group">
                  <!-- <label for="exampleFormControlSelect1">Seleccione</label> -->
                  <select class="form-control" ng-model="categoria.CODIGO" id="proveedor" >
                    <!-- <option value="null" >Todos</option> -->
                    <option ng-repeat="x in listCategorias" value="{{x.NOMBRE}}">{{x.NOMBRE}}</option>
                    <option value="" disabled selected>Seleccione una categoria</option>
                  </select>
                </div>
              </div>

              <div ng-if="showProductTable" >

                <table datatable="ng" dt-options="dtOptionsProd"  class="table table-sm" >
                  <thead>
                      <tr>
                      <th scope="col"><p class="text-center">#</p></th>
                      <th scope="col"><p class="text-center">Opciones</p></th>
                      <th scope="col"><p class="text-center">Nombre Producto</p></th>
                      <th scope="col"><p class="text-center">Categoria</p></th>
                      <th scope="col"><p class="text-center">Existencia</p></th>
                      <th scope="col"><p class="text-center">Principio Activo</p></th>
                      <th scope="col"><p class="text-center">Precio Bs.S</p></th>
                      <th scope="col"><p class="text-center">Iva Bs.S</p></th>
                      <th scope="col"><p class="text-center">Precio USD</p></th>
                      <th scope="col"><p class="text-center">Iva USD</p></th>
                      <th scope="col"><p class="text-center">Proveedor</p></th>
                      </tr>
                  </thead>
                  <tbody>
                    <a href="#infoProduct">
                      <tr ng-repeat="x in productos"  ng-class="{ selectedRow : $index == productIndex }" >

                          <td><p class="text-center">{{ $index + 1 }}</p></td>
                          <td><i class="fa fa-eye" style="cursor: pointer;"  ng-click="selectProduct($index)" data-toggle="modal" data-target="#showPedidoModal"  ></i></td>
                          <td><p class="text-center">{{ x.nombre_producto }}</p></td>
                          <td><p class="text-center">{{ x.categoria }}</p></td>
                          <td><p class="text-center">{{ x.existencia }}</p></td>
                          <td><p class="text-center">{{ x.princ_activo }}</p></td>
                          <td><p class="text-right">{{  x.precioFormatVE }}</p></td>
                          <td><p class="text-right">{{  x.iva_bs }}</p></td>
                          <td><p class="text-right">{{  x.precioFormatUSD }}</p></td>
                          <td><p class="text-right">{{  x.iva_usd }}</p></td>
                          <td><p class="text-left">{{  x.proveedor }}</p></td>

                      </tr>
                      </a>

                  </tbody>
                  </table>
              </div>


          </div>

          </div>
        </div>


      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="closeModalProducts()" >Regresar</button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalInfoProduct">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="text-transform: capitalize;" >{{articulo.nombre_producto.toLowerCase()}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-body">

        <div class="container">
          <div class="row pb-2 p-2" >
              <div class="col-md-4">
                <p class="font-weight-bold mb-4">Informacion</p>
                <p class="mb-1"><span class="text-muted">Principal Activo: </span> {{articulo.princ_activo}}</p>
                <p class="mb-1"><span class="text-muted">Codigo: </span> {{articulo.cod_producto}}</p>
                <p class="mb-1"><span class="text-muted">Fecha Vencimiento: </span> {{articulo.fecha_vence}}</p>
                <p class="mb-1"><span class="text-muted">Proveedor: </span> {{articulo.proveedor}}</p>
              </div>

              <div class="col-md-4 ">
                  <p class="font-weight-bold mb-4">Detalles</p>

                  <p class="mb-1"><span class="text-muted">Regulado: </span> {{articulo.ind_regulado}}</p>
                  <p class="mb-1"><span class="text-muted">Impuesto: </span> {{articulo.ind_impuesto}}</p>
                  <p class="mb-1"><span class="text-muted">Psicotropico: </span> {{articulo.ind_psicotropico}}</p>
                  <p class="mb-1"><span class="text-muted">Existencia: </span> {{articulo.existencia}}</p>

              </div>

              <div class="col-md-4 ">
                  <p class="font-weight-bold mb-4">Otros</p>

                  <p class="mb-1"><span class="text-muted">Categoria: </span> {{articulo.categoria}}</p>
                  <p class="mb-1"><span class="text-muted">Descuento 1: </span> {{articulo.descuento1}}</p>
                  <p class="mb-1"><span class="text-muted">Descuento 2: </span> {{articulo.descuento2}}</p>

              </div>

          </div>

          <div id="infoProduct" class="row" >

              <div class="col-6">
                <label>Cantidad</label>
                <input type="number"  min="1" ng-model="articulo.CANTIDAD" class="form-control" placeholder="cantidad" onkeypress='return event.charCode >= 48 && event.charCode <= 57' >
              </div>
              <div class="col-6">
                <div class="col-12">

                </div>
                <div class="col-12">

                  <button type="button" ng-disabled="productIndex==-1" class="btn btn-success" style="margin-top: 32px;" ng-click="addArtPedido();">Agregar</button>
                </div>
              </div>
              <div class="row col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-md-12 col-lg-12 mt-3 ">

                  <label>Precios</label>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 mt-3">
                  <label>Por unidad Bs.S</label><br>
                  <span class="text-right" >{{formato(2,(articulo.precio_neto_bs)? articulo.precio_neto_bs:0)}}</span>

                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 mt-3">
                  <label>Total Bs.S</label><br>
                  <span class="text-right" >{{formato(2,(articulo.precio_neto_bs)? (articulo.precio_neto_bs  * articulo.CANTIDAD):0)}}</span>

                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 mt-3">
                  <label>Por unidad USD</label><br>
                  <span  class="text-right" >{{formato(3,(articulo.precio_neto_usd)? articulo.precio_neto_usd:0)}}</span>

                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 mt-3">
                  <label>Total USD</label><br>
                  <span class="text-right" >{{formato(3,(articulo.precio_neto_usd)? (articulo.precio_neto_usd  * articulo.CANTIDAD):0)}}</span>

                </div>
              </div>

          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalConfirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmacion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-body">

        <div class="container">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h3><p class="text-center">Desea eliminar el registro?</p></h3>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-danger" ng-click="delPedido()" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalConfirmDynamic">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalDynTitle }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-body">

        <div class="container">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h5><p class="text-center">{{ modalDynMsg }}</p></h5>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="cancelModalDyn()" >Cancelar</button>
        <button type="button" class="btn btn-{{modalDynColor}}" ng-click="aceptModalDyn()" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div id="wrapper" class="toggled">

  <my-sidebar></my-sidebar>
  <div id="page-content-wrapper" class="container-fluid">
    <div class="row" style="min-height:80vh">

      <div class="col-md-12 col-sm-12">
        <!-- <br>
        <h5 class="text-center"> <strong>PEDIDOS </strong> </h5>
        <br> -->

        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a class="text-success" >servidor.com</a></li>
            <li class="breadcrumb-item"><a class="text-info" href="#!/home">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
          </ol>
        </nav>

        <header-client ></header-client>

        <div ng-show="!hasUserClient">
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-12">
              <div class="card " >
                <div class="card-body">
                  <h5 class="card-title">Busqueda por cliente </h5>
                  <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                      <!-- <label for="clientes">Busqueda por cliente</label> -->
                      <div class="input-group mb-3">
                        <input type="text" id="clientes"
                        class="form-control"
                        ng-keydown="$event.keyCode === 13 && getClientNew(true)"
                        ng-model="nombre_cliente"
                        placeholder="Busqueda por Cliente"
                        aria-label="Busqueda por Cliente"
                        aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary"  ng-click="getClientNew(true)" type="button">Buscar</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6" ng-show="clientes.length > 0" >
                      <div class="form-group">
                        <!-- <label for="exampleFormControlSelect1">Seleccione</label> -->
                        <select class="form-control" ng-model="clientIndex" id="exampleFormControlSelect1" ng-focus="clientIndex = null" ng-change="selectCLient()">
                          <option ng-repeat="x in clientes" value="{{$index}}">{{x.nombre_cliente}}</option>
                          <option value="" disabled selected>Seleccione un cliente</option>
                        </select>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>

          <div ng-if="clientIndex != null">
            <header-client cliente="client" ></header-client>
          </div>



        </div>

        <div class="">
          <!-- <div class="col-sm-12 d-none d-sm-block">

          </div> -->

          <div class="col-md-12 mt-10 mb-10">
            <div class="card " >
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12" ng-show="showProductTable || hasUserClient"  >
                    <button class="btn btn-primary" style="float: right; font-weight: bold;margin-bottom: 1rem;" ng-click="initModal();" ng-disabled="!clienteValido" ng-show="!unicOrderID"  > <i class="fa fa-edit"></i> Crear pedido</button>
                    <button class="btn btn-primary" style="float: right; font-weight: bold;margin-bottom: 1rem;" ng-click="getPedido(unicOrderID);" ng-disabled="!clienteValido" ng-show="unicOrderID" data-toggle="modal" data-target="#showPedidoModal"  > <i class="fa fa-edit"></i>Continuar Pedido</button>

                  </div>

                  <div class="col-md-12">

                    <table class="table table-striped table-bordered"  datatable="ng" dt-options="dtOptions">
                      <thead>
                        <tr>
                          <th scope="col"><p class="text-center">#</p></th>
                          <th scope="col"><p class="text-center">N pedido</p></th>
                          <th scope="col"><p class="text-center">Fecha creacion</p></th>
                          <th  ng-show="!hasUserClient" scope="col"><p class="text-center">Nombre Cliente</p></th>
                          <!-- <th scope="col"><p class="text-center">Direcion</p></th> -->
                          <th scope="col"><p class="text-center">Estatus</p></th>
                          <th scope="col"><p class="text-center">Fecha actualizado</p></th>
                          <th scope="col"><p class="text-center">Opciones</p></th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr ng-repeat="x in listaPedidosV2">
                          <th scope="row">{{ $index + 1 }}</th>
                          <td><p class="text-center">ORD-{{ x.ID }}-WEB</p></td>
                          <td><p class="text-center">{{  x.fecha_creacion }}</p></td>
                          <td ng-show="!hasUserClient" ><p class="text-center">{{ x.nombre_cliente }}</p></td>
                          <!-- <td><p class="text-center">{{ x.direccion_cliente }}</p></td> -->
                          <td><p class="text-center">{{ x.estatus }}</p></td>
                          <td><p class="text-center">{{ x.fecha_estatus }}</p></td>
                          <td>
                            <i class="fa fa-trash" style="cursor: pointer;" ng-show="x.estatus =='PEDIDO EN CONSTRUCCION' || x.estatus =='PEDIDO CREADO' || x.estatus == 'POR PROCESAR'" data-toggle="modal" data-target="#modalConfirm" ng-click="confirmModal(x.ID);"  ></i>


                            <!-- <button type="button" class="btn btn-info"  ></button> -->
                            <i class="fa fa-eye" style="cursor: pointer;"  ng-click="getPedido(x.ID);" data-toggle="modal" data-target="#showPedidoModal"  ></i>


                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


  </div>
</div>
<my-footer></my-footer>
<div ng-show="loading">
  <my-loading></my-loading>
</div>
