<div ng-include="'comps/common/topbar.html'">

</div>

<div class="modal fade" id="addPedidoModal" tabindex="-1" role="dialog" aria-labelledby="addPedidoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #399CDF;color: white; font-weight: bold;">
        <h5 class="modal-title" id="addPedidoModalLabel">CREAR PEDIDO <i class="fas fa-1x fa-list-alt"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          
          <div class="form-group">
            <label>No_cia</label>
            <input type="text" ng-model="pedido.no_cia" class="form-control" placeholder="no_cia">
          </div>
          <div class="form-group">
            <label>Grupo</label>
            <input type="text" ng-model="pedido.grupo" class="form-control" placeholder="Grupo">
          </div>
          <div class="form-group">
            <label>Cliente</label>
            <input type="text" ng-model="pedido.no_cliente" class="form-control" placeholder="no_cliente">
          </div>
          <div class="form-group">
            <label>Factura</label>
            <input type="text" ng-model="pedido.no_factu" class="form-control" placeholder="no_factura">
          </div>

          <div class="form-group">
            <label>Fecha</label>
            <input type="date" ng-model="pedido.fecha" class="form-control" placeholder="fecha">
          </div>
          <div class="form-group">
            <label>Observacion</label>
            <input type="text" ng-model="pedido.observacion" class="form-control" placeholder="observacion">
          </div>
          <!-- <div class="row" ><div class="col-md-12" >
            
            <div class="col-md-3 col-lg-3 " >
              <div class="">
                  <label>No_arti</label>
                  <input type="text" ng-model="articulo.no_arti" class="form-control" placeholder="no_arti">
                </div>

            </div>
            <div class="col-md-3 col-lg-3" >
              <div class="">
                  <label>Cantidad</label>
                  <input type="number" ng-model="articulo.cantidad" class="form-control" placeholder="cantidad">
                </div>
            </div>
            <div class="col-md-3 col-lg-3" >
              <div class="">
                  <label>Precio</label>
                  <input type="text" ng-model="articulo.precio" class="form-control" placeholder="precio">
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
              <button type="button" class="btn btn-primary" ng-click="addArtPedido();">Agregar</button>
            </div>

            
        </div></div> -->

        <div class="container">
          <div class="row">
            <div class="col-3">
              <label>COD PRODUCTO</label>
              <input type="text" ng-model="articulo.COD_PRODUCTO" class="form-control" placeholder="no_arti">
            </div>
            <div class="col-3">
              <label>Cantidad</label>
              <input type="number" ng-model="articulo.CANTIDAD" class="form-control" placeholder="cantidad">
            </div>
            <div class="col-3">
              <label>Precio</label>
                <input type="text" ng-model="articulo.PRECIO" class="form-control" placeholder="precio">
            </div>
            <div class="col-3">
              <label></label>
              <button type="button" class="btn btn-success" style="margin-top: 32px;" ng-click="addArtPedido();">Agregar</button>
            </div>
          </div>
        
        </div>
        <div class="" style="margin-top: 32px;">

          <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Opcion</th>
                    <th scope="col">No_arti</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="x in pedido.pedido">
                        <th scope="row">{{ $index + 1 }}</td>
                        <td>
                          <!-- <button type="button" class="btn btn-danger" ng-click="removeArt($index);">X</button> -->
                          
                          <i class="fa fa-trash" ng-click="removeArt($index);"></i>
                          
                        </td>
                        <td>{{ x.COD_PRODUCTO }}</td>
                        <td>{{ x.CANTIDAD }}</td>
                        <td>{{ x.PRECIO }}</td>
                      </tr>
                </tbody>
                </table>

          </div>

        </div>



        </form>
      </div>
      <div class="modal-footer" style="display: block;margin: 0 auto;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reset();">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addPedido(pedido);">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="showPedidoModal" tabindex="-1" role="dialog" aria-labelledby="showPedidoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #399CDF;color: white; font-weight: bold;">
        <h5 class="modal-title" id="showPedidoModalLabel">VER PEDIDO <i class="fas fa-1x fa-list-alt"></i> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	   <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row p-1">
                        <div class="col-md-6">
                            <img src="img/logoddo.png">
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-1">Factura #{{pedido.no_factu}}</p>
                            <p class="text-muted">{{pedido.fecha}}</p>
                        </div>
                    </div>

                    <hr class="my-5">

                    <div class="row pb-5 pt-1 p-5">
                        <div class="col-md-6">
                            <p class="font-weight-bold mb-4">Información</p>
                            <p class="mb-1">Cliente : <strong>{{pedido.no_cliente}}</strong></p>
                            <p>Grupo : <strong>{{pedido.grupo}}</strong></p>
                            <p class="mb-1">Número Cia : <strong>{{pedido.no_cia}}</strong></p>
                            <p class="mb-1">Observacion : <strong>{{pedido.observacion}}</strong></p>
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-4">Payment Details</p>
							<p class="mb-1"><span class="text-muted">Articulo: </span> {{pedido.no_arti}}</p>
                            <p class="mb-1"><span class="text-muted">Precio: </span> {{pedido.precio}}</p>
                            <p class="mb-1"><span class="text-muted">Fecha: </span> {{pedido.fecha}}</p>
                            <p class="mb-1"><span class="text-muted">Cantidad: </span> {{pedido.cantidad}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background: #212529;" data-dismiss="modal"><i class="fas fa-1x fa-times"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row" style="min-height:80vh">

    <div class="col-md-1 d-none d-sm-block" style="background:#069CDF">
      <br>
      <br>
      <div ng-include="'comps/common/sidebar.html'">
      </div>
    </div>
    <div class="col-md-11 col-sm-12">
      <br>
      <h5 class="text-center"> <strong>PEDIDOS </strong> </h5>
      <br>
      <button class="btn btn-primary" style="float: right; font-weight: bold;margin-bottom: 1rem;" ng-click="initModal();" data-toggle="modal" data-target="#addPedidoModal"> <i class="fas fa-pencil"></i> CREAR PEDIDO</button>
      <table class="table table-sm table-bordered">
        <!-- <tr class="text-center" style="text-align:center;font-weight:bold">
          <td colspan="2">Deuda Cartera de Cliente</td>
          <td colspan="2">Órdenes de venta (Últimos 30 días)</td>
        </tr> -->
        <!--<tr class="text-center" style="font-weight:bold">
          <td>Bs. 234.789,43</td>
          <td>#2222 CLIENTE <i class="fas fa-user"></i></td>
        </tr>-->
      </table>

      <div class="row">
        <!-- <div class="col-sm-12 d-none d-sm-block">

        </div> -->
        <div class="col-md-12">
			<table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered">
			</table>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div ng-include="'comps/common/footer.html'">

      </div>
    </div>
  </div>
</div>
