<div ng-include="'comps/common/topbar.html'">

</div>


<div class="container-fluid">
  <div class="row" style="min-height:80vh">

    <div class="col-md-1 d-none d-sm-block" style="background:#069CDF">
      <br>
      <br>
      <div ng-include="'comps/common/sidebar.html'">
      </div>
    </div>
    <div class="col-md-11 col-sm-12">
      <br>
      <h5 class="text-center"> <strong>PEDIDOS </strong> </h5>
      <br>
      <!-- <button class="btn btn-primary" style="float: right; font-weight: bold;margin-bottom: 1rem;" ng-click="initModal();" data-toggle="modal" data-target="#addPedidoModal"> <i class="fas fa-pencil"></i> CREAR PEDIDO</button> -->

      <div class="row">
        
        <form>
          <div class="container">

            <div ng-show="!hasClient">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label for="clientes">Busqueda por cliente</label>
                  <div class="input-group mb-3">           
                    <input type="text" id="clientes" class="form-control" ng-model="nombre_cliente" placeholder="Busqueda por Cliente" aria-label="Busqueda por Cliente" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary"  ng-click="getClientNew(true)" type="button">Buscar</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6" ng-show="clientes.length > 0" >
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Seleccione</label>
                    <select class="form-control" ng-model="clientIndex" id="exampleFormControlSelect1" ng-change="selectCLient()">
                      <option value="-1">Seleccione un cliente</option>
                      <option ng-repeat="x in clientes" value="{{$index}}">{{x.nombre_cliente}}</option>
                    </select>
                  </div>
                </div>
      
  
              </div>
            
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <label>No_cia</label>
                  <input type="text" ng-disabled="true" ng-model="pedido.no_cia" class="form-control" placeholder="no_cia">
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <label>Grupo</label>
                  <input type="text"  ng-disabled="true" ng-model="pedido.grupo" class="form-control" placeholder="Grupo">
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <label>Cliente</label>
                  <input type="text" ng-disabled="true"  ng-model="pedido.no_cliente" class="form-control" placeholder="no_cliente">
                </div>
              </div>
              
            </div>
            </div>

          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6" style="display: none;">
              <div class="form-group">
                <label>Factura</label>
                <input type="text" ng-model="pedido.no_factu" class="form-control" placeholder="no_factura">
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="form-group">
                <label>Fecha</label>
                <input type="date" ng-model="pedido.fecha" class="form-control" placeholder="fecha">
              </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">


              <div class="form-group">
                <label for="comment">Observacion:</label>
                <textarea class="form-control" ng-model="pedido.observacion" rows="4" id="comment"></textarea>
              </div>
            </div>


          </div>
          
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <label for="clientes">Busqueda por producto</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" ng-model="busqueda_prod" placeholder="Busqueda por Producto" aria-label="Busqueda por Producto" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary"  ng-click="getProdNew(true)" type="button">Buscar</button>
                </div>
              </div>
            
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6" ng-show="productos.length > 0">
              <div class="form-group">
                <label for="exampleFormControlSelect2">Seleccione un producto</label>
                <select class="form-control" ng-model="productIndex" id="exampleFormControlSelec2" ng-change="selectProduct()">
                  <option value="-1">Seleccione</option>
                  <option ng-repeat="x in productos" ng-if="!($index==1)" value="{{$index}}">{{x.nombre_producto}} - (<sub style="font-size: 6px;">{{ x.princ_activo.toLowerCase() }}</sub>) </option>
                </select>
              </div>
            </div>

            
          </div>
          
          </div>

        <div class="container">
          <div class="row">
            <div class="col-2">
              <label>Codigo</label>
              <input type="text" ng-disabled="true" ng-model="articulo.COD_PRODUCTO" class="form-control" placeholder="no_arti">
            </div>
            <div class="col-2">
              <label>Cantidad</label>
              <input type="number" min="1" max="{{articulo.existencia}}" ng-model="articulo.CANTIDAD" class="form-control" placeholder="cantidad" onkeypress='return event.charCode >= 48 && event.charCode <= 57' >
            </div>
            <div class="col-2">
              <label>Existencia</label>
              <input type="text"ng-disabled="true" ng-model="articulo.existencia" class="form-control" placeholder="existencia">
            </div>
            <div class="col-2">
              <label>Precio</label>
                <input type="text"  ng-disabled="true" ng-model="articulo.PRECIO" class="form-control" placeholder="precio">
            </div>
            <div class="col-4">
              <label></label>
              <button type="button"  class="btn btn-success" style="margin-top: 32px;" ng-click="addArtPedido();">Agregar</button>
            </div>

          </div>
        
        </div>
        <div class="container" style="margin-top: 32px;">

          <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Opcion</th>
                    <th scope="col">No_arti</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="x in pedido.pedido">
                        <th scope="row">{{ $index + 1 }}</td>
                        <td> 
                          <!-- <button type="button" class="btn btn-danger" ng-click="removeArt($index);">X</button> -->
                          
                          <i class="fa fa-trash" ng-click="removeArt($index);"></i>
                          
                        </td>
                        <td>{{ x.COD_PRODUCTO }}</td>
                        <td>{{ x.CANTIDAD }}</td>
                        <td>{{ x.PRECIO }}</td>
                      </tr>
                </tbody>
                </table>

          </div>

          <div class="col-4 mb-5">
            <label></label>
            <button type="button"  class="btn btn-info" style="margin-top: 32px;" ng-click="addPedido();">Enviar pedido</button>
          </div>

        </div>



        </form>

      </div>


    </div>


  </div>

  <div class="row">
    <div class="col-md-12">
      <div ng-include="'comps/common/footer.html'">

      </div>
    </div>
  </div>
</div>



